/* 
    Created on : Oct 5, 2017, 8:18:04 PM
    Author     : Bryan Daniel
*/
html,body {
    height:100%;
}
#formSection {
    padding-left: 25%;
}
#searchHeader {
    padding-top: 2%;
}
#dataDiv {
    float: left;
    width: 30%;
    padding: 2%;
    margin: 2%;
}
#chartDiv {
    float: left;
    width: 60%;
    height:60%;
    padding: 2%;
    margin: 2%;
}
